@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }
@model PriorityApp.Service.Models.UploadPickUpModel
@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/NiceAdmin/_CSLayout.cshtml"; }
<style>
    .searchbtn {
        margin: 20px 20px 20px 40px;
        border-radius: 10px;
        width: 200px;
    }
</style>

<script src="~/DataTable/jquery-3.5.1.js"></script>
<script src="~/DataTable/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="~/DataTable/jquery.dataTables.min.css">
<script src="/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#SubRegionSelectedId').change(function () {
            var ddlsource = "#SubRegionSelectedId";
            var subItems = '';
            if ($(ddlsource).val() != -1) {
                var url = '@Url.Content("~/")' + "PriorityTool/CSDeliveryOrder/StateFilter";
                $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                    $('#StateSelectedId').empty();
                    $.each(data, function (i, state) {
                        subItems += "<option value='" + state.value + "'>" + state.text + "</option>";
                    });
                    $('#StateSelectedId').html(subItems);
                });
            }
            else
            {
                $('#StateSelectedId').html(subItems);
            }
        });

        $('#StateSelectedId').change(function () {
            var ddlsource = "#StateSelectedId";

            var items = '';
            if ($(ddlsource).val() != -1) {
                var url = '@Url.Content("~/")' + "PriorityTool/CSDeliveryOrder/TerritoryFilter";
                $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                    $('#TerritorySelectedId').empty();
                    $.each(data, function (i, territory) {
                        items += "<option value='" + territory.value + "'>" + territory.text + "</option>";
                    });
                    $('#TerritorySelectedId').html(items);
                });
            }
            else
            {
                $('#TerritorySelectedId').html(items);

            }

        });
    });

</script>

@if (ViewBag.Message != null)
{
<div style="background-color: #00e600; height: 60px; box-shadow: 5px; margin: 0px 20px 20px 50px; text-align:center; font-size:x-large">@ViewBag.Message</div> }
            else if (ViewBag.Error != null)
            {
<div style="background-color: #ff3333; height: 60px; box-shadow: 5px; margin: 0px 20px 20px 50px; text-align: center; font-size: x-large">@ViewBag.Error</div>}
<h2>Upload PIckUpOrders</h2>

<form asp-action="DownloadAddPickUpTemplate">


    @if (Model.SubRegions == null)
    {
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 selectFilter" style="display:inline-block">
    <label class="control-label">Region</label>
    <select id="SubRegionSelectedId" name="SubRegionSelectedId" asp-for="SubRegionSelectedId"
            class="form-select form-select-lg mb-3"
            asp-items="@(new SelectList(string.Empty, "Id", "Name"))"></select>
</div> }
            else
            {
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 selectFilter" style="display:inline-block">
    <label class="control-label">Region</label>
    <select id="SubRegionSelectedId" name="SubRegionSelectedId" asp-for="SubRegionSelectedId"
            class="form-select form-select-lg mb-3"
            asp-items="@(new SelectList(Model.SubRegions, "Id", "Name"))"></select>
</div>}
    @if (Model.States == null)
    {
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 selectFilter" style="display:inline-block">
    <label class="control-label">State</label>
    <select id="StateSelectedId" name="StateSelectedId" asp-for="StateSelectedId"
            class="form-select form-select-lg mb-3"
            asp-items="@(new SelectList(string.Empty, "Id", "Name"))"></select>
</div> }
            else
            {
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 selectFilter" style="display:inline-block">
    <label class="control-label">State</label>
    <select id="StateSelectedId" name="StateSelectedId" asp-for="StateSelectedId"
            class="form-select form-select-lg mb-3"
            asp-items="@(new SelectList(Model.States, "Id", "Name"))"></select>
</div>      }

    @if (Model.Territories == null)
    {
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 selectFilter" style="display:inline-block">
    <label class="control-label">Territory</label>

    <select id="TerritorySelectedId" name="TerritorySelectedId" asp-for="TerritorySelectedId"
            class="form-select form-select-lg mb-3"
            asp-items="@(new SelectList(string.Empty, "Id", "Name"))"></select>
</div> }
else
{
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 selectFilter" style="display:inline-block">
    <label class="control-label">Territory</label>

    <select id="TerritorySelectedId" name="TerritorySelectedId" asp-for="TerritorySelectedId"
            class="form-select form-select-lg mb-3"
            asp-items="@(new SelectList(Model.Territories, "Id", "Name"))"></select>
</div>}
    <input type="submit" value="Download Template" class="btn btn-link" style="margin-bottom:40px" />
</form>


<div class="text-center uploadOrdersDiv">
    <form asp-controller="PickUpOrders" asp-action="AddPickupOrders" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                <input type="file" name="postedFile" class="form-control" />
            </div>
        </div>
        <div class="row">

            <div class="col-lg-1">
                <input type="submit" value="Upload" class="btn btn-primary btn-lg searchbtn" />
            </div>
        </div>
    </form>
</div>

<div>
    <p style="color:red; font-weight:bold"> **Note**</p>
    <p>To assign new PickUp Quantities, Please in Priority Coloumn :- </p>
    <ul>
        <li>Add 3 if priority is Norm</li>
        <li>Add 4 if priority is Extra</li>
    </ul>

    <a class="nav-link collapsed" data-bs-target="#table-nav" data-bs-toggle="collapse" href="#">
        <i class=""></i><span>See Example</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="table-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
            <img src="~/imgs/PickupExample.PNG" />
        </li>
    </ul>
</div>
